<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
    <link rel="stylesheet" href="/vendor/border-box.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/layout.css">



    <!--Js file -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

  <title> Incomimng orders</title>
</head>
<body>
  <%- include("partials/_headers") %>
  <style>
    table {
      border-collapse: collapse;
      width: 50%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      border-style: dashed;
      text-align: center;
    }
  </style>
    <table>
      <thead>
        <tr>

          <th> Menu Name </th>
          <th> Quantity </th>
          <th> Total Amount $ </th>
          <th> Order Time</th>
          <th> Pickup Confirmation </th>
          <th> Completed</th>

        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < incomingOrders.length; i++) { %>
          <tr>

            <td><%=  incomingOrders[i].name %></td>
            <td><%=  incomingOrders[i].item_quantity %></td>
            <td><%=  incomingOrders[i].total %></td>
            <td>  <form method="POST">
                  <label for="minutes">minutes:</label>
                  <input type="number" name="minutes" value= "" min="1" required> <button class="time" type="button">Estimated time</button>


            </form></td>
            <td>
              <form method="POST">
                <input type="hidden" value="<%= incomingOrders[i].id %>" name="order_item_id" class="order_item_id">
                <button type="button" class="Ready">Ready for pickup!</button>
              </form>
            </td>
            <td><% if (incomingOrders[i].status === 1) { %>
              <input type="checkbox" id="completed" name="completed" checked>

              <%} else { %>
                <input type="checkbox" id="completed" name="completed" >
              <% } %></td>
          </tr>
        <% }   %>
      </tbody>
    </table>

    <footer class="footer">
      &copy; 2023 Food Ordering App
    </footer>
</body>
</html>



