<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css">
    <link rel="stylesheet" href="/vendor/border-box.css">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/layout.css">

        <!--Js file -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>


  <title>Menus</title>
</head>
<body>
  <%- include("partials/_headers") %>
  <h1>Menus</h1>
  <style>
    .tblFormat {
      font-family: monospace;
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
      width: 60%;
    }
  </style>

  <% for(const menu of menus) { %>
    <div class="tblFormat">
      </div>
      <div hidden>
        ID : <%= menu.id %>
      </div>
      <div>Name: <%= menu.name %>
      </div>
      <div>Description: <%= menu.description %>
      </div>
      <div>Price: <%= menu.price %>
      </div>

      <form method="post" action="/order_items">
      <label for="quantity">Quantity:</label>
      <input type="number" name="itemQuantity" value= "<%= menu.itemQuantity %> " min="1" required>

       <!-- Hidden fields to store menu info -->
       <input type="hidden" name="menuId" value="<%= menu.id %>">
       <input type="hidden" name="name" value="<%= menu.name %>">
       <input type="hidden" name="price" value="<%= menu.price %>">

      <button type="submit" class="order_now">Order Now!</button>
      </form>
    </div>
    <% } %>


</body>

</html>
