<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Order Items</title>
</head>
<body>
  <h1>All Order Items</h1>
  <ul>
    
      <li>
        
            ID: <%= order_item.id %>, 
            Menu ID: <%= order_item.menu_id %>, 
            Order ID: <%= order_item.order_id %>, 
            Item Quantity: <%= order_item.item_quantity %>, 
            Total: <%= order_item.total %>
          
      </li>
    
  </ul>
</body>
</html>
