<!DOCTYPE html>
<html lang="en">
<head>

  <title>Restaurants</title>
</head>
<body>
  <%- include("partials/_headers") %>
  <h3>All Restaurants</h3>
  <style>
    table {
      border-collapse: collapse;
      width: 50%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      border-style: dashed;
      text-align: center;
    }
  </style>
  <table class="restaurant-table">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Country</th>
        <th>Province</th>
        <th>Street</th>
        <th>City</th>
        <th>Postal Code</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for(const restaurant of restaurants) { %>
        <tr>
          <td><img src= '<%= restaurant.restaurant_image_url %>' class="restaurant-item"> </td>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.country %></td>
          <td><%= restaurant.province %></td>
          <td><%= restaurant.street %></td>
          <td><%= restaurant.city %></td>
          <td><%= restaurant.postal_code %></td>
          <td>
            <form method="GET" action="/menus">
              <button type="submit" class="btn btn-success">Order Now!</button>
            </form>
          </td>
        </tr>
      <% }   %>
    </tbody>
  </table>
</body>
<footer class="footer">
  &copy; 2023 Food Ordering App
</footer>
</html>
